<div class="flex justify-between mb-4">
  <div class="flex gap-4 items-center">
    <p-button
      label="Regresar"
      icon="pi pi-angle-double-left text-xl"
      iconPos="left"
      severity="secondary"
      (onClick)="router.navigate(['/dashboard'])"
    />
    <div class="text-2xl font-semibold">Proveedores</div>
  </div>

  <div class="flex gap-4 items-center">
    <div class="flex gap-4 items-center">
      <label class="font-semibold">Buscar por:</label>
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          [(ngModel)]="search"
          placeholder="Nombre o Empresa"
          (input)="filterData()"
        />
      </p-iconField>
    </div>
    <p-button
      label="Crear"
      icon="pi pi-plus text-xl"
      iconPos="left"
      severity="success"
      (onClick)="showDialog(true)"
    />
  </div>
</div>

<div class="rounded-lg shadow-md bg-white p-4">
  <div class="rounded-t-lg overflow-hidden">
    <p-table [value]="dataFiltered" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>NOMBRE</th>
          <th>EMPRESA</th>
          <th>RUC</th>
          <th>RUBRO</th>
          <th class="text-center">ACCIONES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proveedor>
        <tr>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.empresa }}</td>
          <td>{{ proveedor.ruc }}</td>
          <td>{{ proveedor.rubro }}</td>
          <td class="text-center">
            <div class="flex gap-2 justify-evenly">
              <p-button
                icon="pi pi-pencil"
                label="Editar"
                (onClick)="showUpdateDialog(proveedor)"
              />
              <p-button
                icon="pi pi-arrow-circle-down"
                label="Gastos"
                (onClick)="
                  router.navigate(['/proveedores/' + proveedor.id + '/gastos'])
                "
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [header]="updateId == '' ? 'Crear Proveedor' : 'Editar Proveedor'"
  [(visible)]="dialog"
  [modal]="true"
  [style]="{ width: '28rem' }"
  (onHide)="hideDialog()"
>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label for="nombre">Nombre *</label>
    <input
      pInputText
      id="nombre"
      name="nombre"
      [(ngModel)]="proveedor.nombre"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label for="rubro">Rubro</label>
    <p-autoComplete
      [(ngModel)]="proveedor.rubro"
      [suggestions]="rubrosFiltered"
      [showEmptyMessage]="false"
      (completeMethod)="filterRubro($event)"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label for="nombre">RUC</label>
    <input pInputText id="ruc" name="ruc" [(ngModel)]="proveedor.ruc" />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label for="empresa">Empresa</label>
    <input
      pInputText
      id="empresa"
      name="empresa"
      [(ngModel)]="proveedor.empresa"
    />
  </div>
  <div class="flex gap-2 mt-4 justify-end">
    <p-button
      label="Cancelar"
      severity="danger"
      (onClick)="showDialog(false)"
      icon="pi pi-times text-lg"
      iconPos="left"
    />
    <p-button
      label="Guardar"
      (onClick)="addProveedor()"
      icon="pi pi-save text-lg"
      iconPos="left"
    />
  </div>
</p-dialog>
