<div class="bg-cyan-700 w-64 px-5 py-5 text-white flex flex-col gap-3 h-full">
  <div
    class="w-full hover:bg-cyan-500 flex gap-3 items-center rounded-lg px-3 py-1 cursor-pointer"
    (click)="router.navigate(['/clientes'])"
  >
    <span class="pi pi-search"></span>
    <span class="text-xl font-bold">Clientes</span>
  </div>
  <div
    class="w-full hover:bg-cyan-500 flex gap-3 items-center rounded-lg px-3 py-1 cursor-pointer"
    (click)="router.navigate(['/proveedores'])"
  >
    <span class="pi pi-search"></span>
    <span class="text-xl font-bold">Proveedores</span>
  </div>
  <div
    class="w-full hover:bg-cyan-500 flex gap-3 items-center rounded-lg px-3 py-1 cursor-pointer"
    (click)="router.navigate(['/pedidos'])"
  >
    <span class="pi pi-search"></span>
    <span class="text-xl font-bold">Pedidos</span>
  </div>
  <div
    class="w-full hover:bg-cyan-500 flex gap-3 items-center rounded-lg px-3 py-1 cursor-pointer"
    (click)="router.navigate(['/pagos'])"
  >
    <span class="pi pi-search"></span>
    <span class="text-xl font-bold">Pagos</span>
  </div>
  <div
    class="w-full hover:bg-cyan-500 flex gap-3 items-center rounded-lg px-3 py-1 cursor-pointer"
    (click)="router.navigate(['/registros'])"
  >
    <span class="pi pi-search"></span>
    <span class="text-xl font-bold">Registros</span>
  </div>
</div>
