<div class="flex justify-between mb-4">
  <div class="flex gap-4 items-center">
    <p-button
      label="Regresar"
      icon="pi pi-angle-double-left text-xl"
      iconPos="left"
      severity="secondary"
      (onClick)="router.navigate(['/dashboard'])"
    />
    <div class="text-2xl font-semibold">Clientes</div>
  </div>

  <div class="flex gap-4 items-center">
    <div class="flex gap-4 items-center">
      <label class="font-semibold">Buscar por:</label>
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          [(ngModel)]="search"
          placeholder="Nombre o Empresa"
          (input)="filterData()"
        />
      </p-iconField>
    </div>
    <p-button
      label="Crear"
      icon="pi pi-plus text-xl"
      iconPos="left"
      severity="success"
      (onClick)="showDialog(true)"
    />
  </div>
</div>

<div class="rounded-lg shadow-md bg-white p-4">
  <div class="rounded-t-lg overflow-hidden">
    <p-table [value]="dataFiltered" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>NOMBRE</th>
          <th>RUC</th>
          <th>EMPRESA</th>
          <th>TELEFONO</th>
          <th class="text-center">CORREO</th>
          <th>DIRECCION</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.ruc }}</td>
          <td>{{ cliente.empresa }}</td>
          <td>{{ cliente.telefono }}</td>
          <td class="text-center">{{ cliente.correo }}</td>
          <td>{{ cliente.direccion }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Crear Cliente"
  [(visible)]="dialog"
  [modal]="true"
  [style]="{ width: '28rem' }"
  (onHide)="hideDialog()"
>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Nombre *</label>
    <input
      pInputText
      id="nombre"
      name="nombre"
      [(ngModel)]="cliente.nombre"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>RUC *</label>
    <input
      pInputText
      id="ruc"
      name="ruc"
      [(ngModel)]="cliente.ruc"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Empresa *</label>
    <input
      pInputText
      id="empresa"
      name="empresa"
      [(ngModel)]="cliente.empresa"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Telefono *</label>
    <input
      pInputText
      id="telefono"
      name="telefono"
      [(ngModel)]="cliente.telefono"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Correo</label>
    <input
      pInputText
      id="correo"
      name="correo"
      [(ngModel)]="cliente.correo"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Dirreccion</label>
    <input
      pInputText
      id="direccion"
      name="direccion"
      [(ngModel)]="cliente.direccion"
    />
  </div>
  <div class="flex gap-2 mt-4 justify-end">
    <p-button
      label="Cancelar"
      severity="danger"
      (onClick)="showDialog(false)"
      icon="pi pi-times text-lg"
      iconPos="left"
    />
    <p-button
      label="Guardar"
      (onClick)="addCliente()"
      icon="pi pi-save text-lg"
      iconPos="left"
    />
  </div>
</p-dialog>
