<div class="flex justify-between mb-4">
  <div class="flex gap-4">
    <p-button
      label="Regresar"
      icon="pi pi-angle-double-left text-xl"
      iconPos="left"
      severity="secondary"
      (onClick)="router.navigate(['/dashboard'])"
    />
    <p-button
      label="Crear"
      icon="pi pi-plus text-xl"
      iconPos="left"
      severity="success"
      (onClick)="showDialog()"
    />
  </div>
  <div class="flex gap-4 items-center">
    <label class="font-semibold">Buscar por:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="search"
      placeholder="Nombre o Empresa"
    />
  </div>
</div>

<div class="rounded-lg shadow-md bg-white p-4">
  <div class="rounded-t-lg overflow-hidden">
    <p-table [value]="clientes" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>NOMBRE</th>
          <th>RUC</th>
          <th>EMPRESA</th>
          <th>TELEFONO</th>
          <th>CORREO</th>
          <th>DIRECCION</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.ruc }}</td>
          <td>{{ cliente.empresa }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.correo }}</td>
          <td>{{ cliente.direccion }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Crear Cliente"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="nombre">Nombre*</label>
    <input
      class="bg-slate-200"
      pInputText
      id="nombre"
      name="nombre"
      [(ngModel)]="cliente.nombre"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="nombre">RUC*</label>
    <input
      class="bg-slate-200"
      pInputText
      id="ruc"
      name="ruc"
      [(ngModel)]="cliente.ruc"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="empresa">Empresa*</label>
    <input
      class="bg-slate-200"
      pInputText
      id="empresa"
      name="empresa"
      [(ngModel)]="cliente.empresa"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="telefono">Telefono*</label>
    <input
      class="bg-slate-200"
      pInputText
      id="telefono"
      name="telefono"
      [(ngModel)]="cliente.telefono"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="correo">Correo</label>
    <input
      class="bg-slate-200"
      pInputText
      id="correo"
      name="correo"
      [(ngModel)]="cliente.correo"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between">
    <label for="direccion">Dirreccion</label>
    <input
      class="bg-slate-200"
      pInputText
      id="direccion"
      name="direccion"
      [(ngModel)]="cliente.direccion"
    />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="displayDialog = false"
    />
    <p-button label="Save" (onClick)="addCliente()" />
  </div>
</p-dialog>
