/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-weight: 400;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body, root, html {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.p-inputtext, .p-button {
  padding: 0.5rem
}

td .p-button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-icon-field.p-icon-field-right .p-inputtext {
  padding-right: 2.25rem
}

.p-icon-field.p-icon-field-left .p-inputtext {
  padding-left: 2.25rem
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem;
  background-color: #CBD5E1;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem;
}

.p-dialog .p-dialog-header {
  padding: 1rem;
  padding-bottom: 0.5rem
}

.p-dialog .p-dialog-content {
  padding: 0 2.5rem 1rem 2.5rem
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 1rem;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0.4rem 0;
}

.p-datepicker table td {
  padding: 0;
}

.p-datepicker table td > span {
  width:2rem;
  height: 2rem;
}

.p-datepicker table {
  margin-bottom: 0;  margin-top: 0.25rem;
}

.p-datepicker .p-datepicker-header {
  padding: 0;
}
