<div class="flex justify-between mb-4">
  <div class="flex gap-4 items-center">
    <p-button
      label="Regresar"
      icon="pi pi-angle-double-left text-xl"
      iconPos="left"
      severity="secondary"
      (onClick)="router.navigate(['/dashboard'])"
    />
    <div class="text-2xl font-semibold">Servicios</div>
  </div>

  <div class="flex gap-4 items-center">
    <div class="flex gap-4 items-center">
      <label class="font-semibold">Buscar por:</label>
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          pInputText
          [(ngModel)]="search"
          placeholder="Nombre"
          (input)="filterData()"
        />
      </p-iconField>
    </div>
    <p-button
      label="Crear"
      icon="pi pi-plus text-xl"
      iconPos="left"
      severity="success"
      (onClick)="showDialog(true)"
    />
  </div>
</div>

<div class="rounded-lg shadow-md bg-white p-4">
  <div class="rounded-t-lg overflow-hidden">
    <p-table
      [value]="dataFilter"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-gridlines"
      selectionMode="single"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>NOMBRE</th>
          <th class="text-center">ACCIONES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{ service.name }}</td>
          <td class="text-center" style="padding: 0.25rem !important">
            <div class="flex gap-2 justify-evenly text-sm">
              <p-button
                icon="pi pi-pencil"
                label="Editar"
                (onClick)="showUpdateDialog(service)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [header]="updateId == '' ? 'Crear Servicio' : 'Editar Servicio'"
  [(visible)]="dialog"
  [modal]="true"
  [style]="{ width: '28rem' }"
  (onHide)="hideDialog()"
>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Nombre *</label>
    <input pInputText [(ngModel)]="service.name" />
  </div>

  <div class="flex gap-2 mt-4 justify-end">
    <p-button
      label="Cancelar"
      severity="danger"
      (onClick)="showDialog(false)"
      icon="pi pi-times text-lg"
      iconPos="left"
    />
     <p-button
      label="Guardar"
      (onClick)="updateId === '' ? addService() : updateService()"
      icon="pi pi-save text-lg"
      iconPos="left"
    />
  </div>
</p-dialog>
