<div class="flex justify-between mb-4">
  <div class="flex gap-4 items-center">
    <p-button
      label="Regresar"
      icon="pi pi-angle-double-left text-xl"
      iconPos="left"
      severity="secondary"
      (onClick)="proveedorId ? router.navigate(['/proveedores']) : router.navigate(['/dashboard'])"
    />
    <div class="text-2xl font-semibold">
      Gastos @if (proveedorId) { en {{getProveedorById(proveedorId)?.empresa}}}
    </div>
  </div>
  <div class="flex gap-4 items-center">
    <p-button
      label="Crear"
      icon="pi pi-plus text-xl"
      iconPos="left"
      severity="success"
      (onClick)="showDialog(true)"
    />
  </div>
</div>

<div class="rounded-lg shadow-md bg-white p-4">
  <div class="rounded-t-lg overflow-hidden">
    <p-table [value]="dataFiltered" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
    selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th>PROVEEDOR</th>
          <th>DESCRIPCION</th>
          <th>RUBRO</th>
          <th class="text-center">MONTO</th>
          <th class="text-center">FECHA</th>
          <th class="text-center">TIPO PAGO</th>
          <th class="text-center">ACCIONES</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gasto>
        <tr>
          <td>{{ gasto.proveedor?.nombre }}</td>
          <td>{{ gasto.descripcion }}</td>
          <td>{{ Utils.capitalize(gasto.proveedor?.rubro) }}</td>
          <td class="text-center">{{ gasto.monto }}</td>
          <td class="text-center">{{ Utils.formatDate(gasto.fecha) }}</td>
          <td class="text-center">{{ Utils.capitalize(gasto.tipoPago) }}</td>
          <td class="text-center" style="padding: 0.25rem !important;">
            <div class="flex gap-2 justify-evenly text-sm">
              @if (Utils.isToday(gasto.fecha)) {
              <p-button
                icon="pi pi-times"
                label="Anular"
                severity="danger"
                (click)="cancelGasto(gasto)"
              />
              }
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Crear Gasto"
  [(visible)]="dialog"
  [modal]="true"
  [style]="{ width: '30rem' }"
  (onHide)="hideDialog()"
  focusOnShow="false"
>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Fecha *</label>
    <p-calendar [(ngModel)]="gasto.fecha" dateFormat="dd/mm/yy" />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Proveedor *</label>
    <p-autoComplete
      [(ngModel)]="proveedorSelected"
      [suggestions]="proveedoresFiltered"
      (completeMethod)="filterProveedor($event)"
      field="nombre"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Descripcion *</label>
    <input pInputText name="descripcion" [(ngModel)]="gasto.descripcion" />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Tipo de Pago *</label>
    <p-dropdown
      [options]="pagoOptions"
      [(ngModel)]="gasto.tipoPago"
      optionLabel="label"
      optionValue="value"
      styleClass="w-[242px]"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Monto *</label>
    <p-inputNumber
      inputId="monto"
      [useGrouping]="false"
      mode="decimal"
      [maxFractionDigits]="2"
      locale="en-US"
      [(ngModel)]="gasto.monto"
    />
  </div>
  <div class="flex flex-column gap-2 mt-2 justify-between items-center">
    <label>Nro Factura</label>
    <input pInputText name="factura" [(ngModel)]="gasto.nroFactura" />
  </div>
  <div class="flex gap-2 mt-4 justify-end">
    <p-button
      label="Cancelar"
      severity="danger"
      (onClick)="showDialog(false)"
      icon="pi pi-times text-lg"
      iconPos="left"
    />
    <p-button
      label="Guardar"
      (onClick)="addGasto()"
      icon="pi pi-save text-lg"
      iconPos="left"
    />
  </div>
</p-dialog>
